# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
build/
dist/
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Env
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# App data
Databas/*
databas/
csv/
!Databas/*.py
!Databas/*.sql
!Databas/*.sh
